<ul class="nav nav-tabs">
    <li id="tab1"><a href="/Voucher/DM_Index">All</a></li>
    <li id="tab2"><a href="/Voucher/DM_Approved">Approved</a></li>
    <li id="tab3" class="active"><a href="/Voucher/DM_Rejected">Rejected</a></li>
    <li id="tab4"><a href="/Voucher/DM_Unseen">Unseen</a></li>
</ul>
